<!DOCTYPE html>
<html itemtype="http://schema.org/VideoGame" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta content="x-content-type-options=nosniff" />

    <title>Drop 'n Stop!</title>
    <meta name="apple-mobile-web-app-title" content="Drop 'n Stop!" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=5, user-scalable=yes" />
    <meta name="theme-color" id="themeColor" content="hsl(148, 34%, 61%)">

    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />

    <meta name="keywords" content="Drop 'n Stop!, Drop, Stop, Big Tent Games, Games, Free, FullyFree" />
    <meta name="description" content="The puck stops here." />

    <meta name="twitter:card" content="summary_large_image">
    </meta>
    <meta property="og:title" content="Drop 'n Stop!" />
    <meta property="og:author" content="Wil Voss" />
    <meta property="og:site_name" content="Big Tent Games" />
    <meta property="og:description" content="The puck stops here." />
    <meta property="og:type" content="photo" />
    <meta property="og:url" content="https://dropnstop.games" />
    <meta property="og:image" content="https://dropnstop.games/images/dropnstop_og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link id="appleicon" rel="apple-touch-icon" sizes="180x180" href="/images/icon180.png">
    <!-- iPhone X (1125px x 2436px) -->
    <link rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
      href="images/apple-launch-1125x2436.png">
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
      href="images//apple-launch-750x1334.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    <link rel="manifest" href="manifest.webmanifest">

    <link rel="stylesheet" href="styles/dropnstop.css?3.0.008" media="screen" />
    <script src="helpers/console-enhancer.js?3.0.008" type='text/javascript'></script>
    <script type="text/javascript">
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>
  </head>

  <body>
    <app id="app" :class="{stopped: isStopped, success: isSuccess, darkpuck: useDarkPuck, dropping: isDropping}">
      <audio id="themeMusic" loop>
        <source src="" id="themeSource" type="audio/aac">
      </audio>
      <theater v-cloak>
        <header :class="{disabled: showEndGame}">
          <button @click=" showSettings=!showSettings">settings</button>
          <score>{{Intl.NumberFormat('en-US').format(score)}}</score>
          <button v-if="dropTotalCount!=0" @click="showYesNo = true">quit</button>
        </header>
        <score>{{Intl.NumberFormat('en-US').format(score)}}</score>
        <stage>
          <puck :class="{disabled: showEndGame}"
            :style=" {transform: 'translate(' + puckX + 'px, ' + puckY + 'px)', width: puckWidth + 'px', height: puckHeight + 'px'}">
            <tail :style=" { marginTop: -1 *  (60 - (.5 * puckHeight)) + 'px'}">
            </tail>
          </puck>
          <target :class="{disabled: showEndGame}"
            :style="{transform: 'translate(' + targetX + 'px, ' + targetY + 'px)', height: targetHeight + 'px'}">
            <value>
              <span v-if="!isSuccess">{{'dropzone: +' + targetValue}}</span>
              </span>
              <span v-if="isSuccess" class="fadeup">
                +{{30 +(100 - Number(targetHeight)) * (Number(dropMaxCount) - Number(dropCount))}} points!
              </span>
            </value>
          </target>
          <info :class="{emphasize: showEndGame}">
            <p v-html="instructions"></p>
          </info>
          <stats v-if="results.length > 0 && showEndGame">
            <stat>Best possible <span>{{Intl.NumberFormat(userLocale).format(highestPossibleScore)}}</span>
            </stat>
            <stat v-if="score > 0">Percent of best
              <span>{{Math.round(100 * score/highestPossibleScore) + '%'}}</span>
            </stat>
            <stat>Hits in 1 <span>{{hitsOnOne}}</span></stat>
            <stat>Hits in 2 <span>{{hitsOnTwo}}</span></stat>
            <stat>Hits in 3 <span>{{hitsOnThree}}</span></stat>
            <stat>Misses <span>{{misses}}</span></stat>
            <stat>Missed
              above<span>{{missedAbove}}</span>
            </stat>
            <stat>Missed
              below<span>{{missedBelow}}</span>
            </stat>
            <stat>Difficulty <span>{{results[results.length - 1].difficulty}}</span></stat>
          </stats>
        </stage>
        <controls>
          <button @pointerdown="HandleActionButton(event, 'next')" class="action"
            :class="{hide: showEndGame, disabled: !isStopped, highlight: dropCount >= 2 && isStopped || isSuccess}">
            {{dropCount >= 2 && isStopped || isSuccess ? 'Next' : 'retry'}}
          </button>
          <button @click="EndGame" v-if="dropTotalCount === 0">Okay</button>
          <button :class="{hide: showEndGame, disabled: isStopped}" @pointerdown="HandleActionButton(event, 'drop')"
            @pointerup="HandleActionButton(event, 'stop')" @pointerleave="HandleActionButton(event, 'stop')"
            class="action">DROP</button>
        </controls>
      </theater>
      <modal :class="{show: showHome}">
        <header>
          <button @click="showSettings = !showSettings">settings</button>
        </header>
        <h1>drop 'n stop
          <subtitle>The Puck Stops Here</subtitle>
        </h1>

        <controls class="endgame" v-if="dropTotalCount == 0">
          <!-- <h3 @pointerdown="showSettings = !showSettings">Current Mode: {{currentMode.name}}</h3> -->
          <button @click="RestartGame">New Game <span>'{{currentMode.name}}' mode</span></button>
          <button class="secondary" @click="Share">Share </button>
          <button class="secondary action" @click="window.open('https://www.buymeacoffee.com/wilvoss')">buy me a
            coffee!</button>
        </controls>
      </modal>
      <modal :class="{show: showSettings}">
        <header>
          <button @click="showSettings = !showSettings">close</button>
          <button v-if="isPlaying" @click="showYesNo = true">quit</button>
        </header>
        <h2>Settings</h2>
        <divider></divider>
        <section>
          <h3>difficulty mode</h3>
          <setting>
            <mode v-for="(mode) in modes" @pointerdown="SelectMode(mode)"
              :class="{selected: mode.selected, disabled: isPlaying && !mode.selected}">
              <puck :style="{width: mode.width + 'px', height: mode.height + 'px'}">
              </puck>
              <value>{{mode.name}}</value>
            </mode>
          </setting>
        </section>
        <divider></divider>
        <section class="puck">
          <h3>puck color</h3>
          <setting>
            <puckcolor @pointerdown="HandlePuckColorButtonClick(event, false)" :class="{selected: !useDarkPuck}">light
            </puckcolor>
            <puckcolor @pointerdown="HandlePuckColorButtonClick(event, true)" :class="{selected: useDarkPuck}">dark
            </puckcolor>
          </setting>
        </section>
        <divider></divider>
        <section>
          <h3>color theme</h3>
          <setting>
            <theme :class="{selected: theme.selected}" v-for="theme in themes"
              @pointerdown="HandleThemeButton(event, theme)">
              <color :style="{background: 'hsl(' + theme.h + ', ' + theme.s + '%, 65%)'}"></color>
              <value>{{theme.name}}</value>
            </theme>
          </setting>
        </section>
        <divider></divider>
        <controls v-if="!isPlaying">
          <button class="secondary" @click="location.reload()">Reload App</button>
        </controls>
        <!-- <h1>published by</h1> -->
        <version>
          &copy;2023 <a href="https://bigtentgames.com" target="_blank">Big Tent Games</a> - v{{version}}
        </version>

      </modal>
      <modal :class="{show: showYesNo}" class="center">
        <h1>quit
          <subtitle>Are you sure you want to quit?</subtitle>
        </h1>
        <controls>
          <button @pointerdown="showYesNo = false" class="secondary">no</button>
          <button @pointerdown="HandleActionButton(event, 'quit')">yes</button>
        </controls>

      </modal>
    </app>
    <script id="vue-framework" src="helpers/vue.min.js" type='text/javascript'></script>
    <script src="models/ResultObject.js?3.0.008" type='text/javascript'></script>
    <script src="models/ModeObject.js?3.0.008" type='text/javascript'></script>
    <script src="models/ThemeObject.js?3.0.008" type='text/javascript'></script>
    <script src="scripts/dropnstop.js?3.0.008" type='text/javascript'></script>
  </body>

</html>