<!DOCTYPE html>
<html itemtype="http://schema.org/VideoGame" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta content="x-content-type-options=nosniff" />

    <title>drop 'n stop!</title>
    <meta name="apple-mobile-web-app-title" content="drop 'n stop!" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=5, user-scalable=yes" />
    <meta name="theme-color" id="themeColor" content="hsl(148, 34%, 61%)">

    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />

    <meta name="keywords" content="drop 'n stop!, drop, stop, Big Tent Games, Games, Free" />
    <meta name="description" content="the puck stops here" />

    <meta name="twitter:card" content="summary_large_image">
    </meta>
    <meta property="og:title" content="drop 'n stop!" />
    <meta property="og:author" content="Wil Voss" />
    <meta property="og:site_name" content="Big Tent Games" />
    <meta property="og:description" content="the puck stops here" />
    <meta property="og:type" content="photo" />
    <meta property="og:url" content="https://dropnstop.games" />
    <meta property="og:image" content="https://dropnstop.games/images/dropnstop_og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link id="appleicon" rel="apple-touch-icon" sizes="180x180" href="/images/icon180.png">

    <link rel="icon alternate" type="image/png" href="/favicon-alt.png">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link rel="manifest" href="manifest.webmanifest">

    <link rel="stylesheet" href="styles/dropnstop.css?3.1.005" media="screen" />
  </head>

  <body>
    <app id="app"
      :class="{lock: lock, stopped: isStopped, success: isSuccess, darkpuck: useDarkPuck, dropping: isDropping, ended: showEndGame, keyboard: spaceBarInUse}">
      <audio id="themeMusic" loop>
        <source src="" id="themeSource" type="audio/aac">
      </audio>
      <theater v-cloak>
        <header :class="{hide: showEndGame}">
          <button :class="{hide: lock}" @click="showSettings=!showSettings">settings</button>
          <score v-if="!lock">{{(showEndGame ? 'final score - ' : '') + Intl.NumberFormat(userLocale).format(score)}}
          </score>
          <score v-if="lock">game over</score>
          <button :class="{hide: lock}" @click="showYesNo = true">quit</button>
        </header>
        <!-- <score :class="{hide: showEndGame}">{{Intl.NumberFormat(userLocale).format(score)}}</score> -->
        <stage>
          <puck :class="{disabled: showEndGame, start: isFirstRun}"
            :style=" {transform: 'translate(' + puckX + 'px, ' + puckY + 'px)', width: puckWidth + 'px', height: puckHeight + 'px'}">
            <tail v-if="!puckHitBottom" :style="{marginTop: -1 *  (60 - (.5 * puckHeight)) + 'px'}">
            </tail>
          </puck>
          <target :class="{disabled: showEndGame}"
            :style="{transform: 'translate(' + targetX + 'px, ' + targetY + 'px)', height: targetHeight + 'px'}">
            <value>
              <span v-if="!isSuccess && !lock">{{'dropzone: +' + targetValue}}</span>
              </span>
              <span v-if="isSuccess" class="fadeup">
                +{{targetValue}} points!
              </span>
            </value>
          </target>
          <info>
            <stats v-if="results.length > 0 && showEndGame"
              @click="CreateConfetti(finalGrade.threshold > goodGradeThreshold)">

              <grade>{{finalGrade.grade}}</grade>
              <h2> {{finalGrade.title}}
                <subtitle>{{finalGrade.description}}</subtitle>
              </h2>
              <stat>points earned<span>{{Intl.NumberFormat(userLocale).format(score)}}</span></stat>
              <stat>possible points <span>{{Intl.NumberFormat(userLocale).format(highestPossibleScore)}}</span></stat>

              <!-- <h3>levels</h3> -->
              <stat>levels attempted<span>{{results.length }} </span></stat>
              <stat>levels cleared<span>{{totalZonesClearedSucccessfully }} </span></stat>
              <stat>on 1st try<span>{{hitsOnOne}}</span></stat>
              <stat>on 2nd try<span>{{hitsOnTwo}}</span></stat>
              <stat>on 3rd try<span>{{hitsOnThree}}</span></stat>
              <!-- <h3>misses</h3> -->
              <stat>total misses<span>{{misses}}</span></stat>
              <stat>above target<span>{{missedAbove}}</span></stat>
              <stat>below target<span>{{missedBelow}}</span></stat>
            </stats>
          </info>
        </stage>

        <controls>
          <button @pointerdown="HandleActionButton(event, 'next')" class="action"
            :class="{hide: showEndGame || lock, disabled: !isStopped, highlight: dropCount >= 2 && isStopped || isSuccess}">
            {{dropCount >= 2 && isStopped || isSuccess ? 'Next' : 'retry'}}
          </button>
          <p v-if="!showEndGame && !lock" v-html="instructions"></p>
          <button @click="HandleOkayButtonClick" v-if="dropTotalCount === 0">Okay</button>
          <button :class="{hide: showEndGame || lock, disabled: isStopped, blink: isFirstRun}"
            @pointerdown="HandleActionButton(event, 'drop')" @pointerup="HandleActionButton(event, 'stop')"
            @pointerleave="HandleActionButton(event, 'stop')" class="action">DROP</button>
        </controls>
      </theater>
      <modal :class="{show: showHome}">
        <header>
          <button @click="showSettings = !showSettings">settings</button>
        </header>
        <h1>drop 'n stop
          <subtitle>the puck stops here</subtitle>
        </h1>

        <!-- <p>
          test your reaction time<br />
          drop the puck<br />
        </p> -->

        <ohno>
          <h3>oh no!</h3>
          <p>
            drop 'n stop needs a bigger window to play
          </p>
        </ohno>

        <controls class="endgame" v-if="dropTotalCount == 0">
          <!-- <h3 @click="showSettings = !showSettings">Current Mode: {{currentMode.name}}</h3> -->
          <button @click="RestartGame">New Game <span>'{{currentMode.name}}' mode</span></button>
          <button class="secondary" @click="Share">Share </button>
          <button class="secondary action" @click="window.open('https://www.buymeacoffee.com/wilvoss')">buy me a
            coffee!</button>
        </controls>
      </modal>
      <modal :class="{show: showSettings}">
        <header>
          <button @click="showSettings = !showSettings">close</button>
          <button v-if="isPlaying" @click="showYesNo = true">quit</button>
        </header>
        <h2>Settings</h2>
        <divider></divider>
        <section>
          <h3>difficulty mode</h3>
          <setting>
            <mode v-for="(mode) in modes" @click="SelectMode(mode)"
              :class="{selected: mode.selected, disabled: isPlaying && !mode.selected}">
              <puck :style="{width: mode.width + 'px', height: mode.height + 'px'}">
              </puck>
              <value>{{mode.name}}</value>
            </mode>
          </setting>
        </section>
        <divider></divider>
        <section class="puck">
          <h3>puck color</h3>
          <setting>
            <puckcolor @click="HandlePuckColorButtonClick(event, false)" :class="{selected: !useDarkPuck}">light
            </puckcolor>
            <puckcolor @click="HandlePuckColorButtonClick(event, true)" :class="{selected: useDarkPuck}">dark
            </puckcolor>
          </setting>
        </section>
        <divider></divider>
        <section>
          <h3>color theme</h3>
          <setting>
            <theme :class="{selected: theme.selected}" v-for="theme in themes" @click="HandleThemeButton(event, theme)">
              <color :style="{background: 'hsl(' + theme.h + ', ' + theme.s + '%, 65%)'}"></color>
              <value>{{theme.name}}</value>
            </theme>
          </setting>
        </section>
        <divider></divider>
        <controls v-if="!isPlaying">
          <button class="secondary" @click="location.reload()">Reload App</button>
        </controls>
        <!-- <h1>published by</h1> -->
        <version>
          &copy;{{thisYear}} <a href="https://bigtentgames.com" target="_blank">Big Tent Games</a> - v{{version}}
        </version>

      </modal>
      <modal :class="{show: showYesNo}" class="center">
        <h1>quit
          <subtitle>Are you sure you want to quit?</subtitle>
        </h1>
        <controls>
          <button @click="showYesNo = false" class="secondary">no</button>
          <button @click="HandleActionButton(event, 'quit')">yes</button>
        </controls>

      </modal>
    </app>
    <script id="vue-framework" src="/helpers/vue.min.js"></script>
    <script src="/helpers/console-enhancer.js"></script>
    <script type="module" src="/scripts/dropnstop.js?3.1.005"></script>
  </body>

</html>