<!DOCTYPE html>
<html itemtype="http://schema.org/VideoGame" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta content="x-content-type-options=nosniff" />

    <title>drop 'n stop!</title>
    <meta name="apple-mobile-web-app-title" content="drop 'n stop!" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=1, user-scalable=yes" />
    <meta name="theme-color" id="themeColor" content="hsl(148, 34%, 61%)">

    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />

    <meta name="keywords" content="drop 'n stop!, drop, stop, Big Tent Games, Games, Free" />
    <meta name="description" content="the puck stops here" />

    <meta name="twitter:card" content="summary_large_image">
    </meta>
    <meta property="og:title" content="drop 'n stop!" />
    <meta property="og:author" content="Wil Voss" />
    <meta property="og:site_name" content="Big Tent Games" />
    <meta property="og:description" content="the puck stops here" />
    <meta property="og:type" content="photo" />
    <meta property="og:url" content="https://dropnstop.games" />
    <meta property="og:image" content="https://dropnstop.games/images/dropnstop_og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link id="appleicon" rel="apple-touch-icon" sizes="180x180" href="/images/icon180.png">

    <link rel="icon alternate" type="image/png" href="/favicon-alt.png">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link rel="manifest" href="manifest.webmanifest">

    <link rel="stylesheet" href="styles/dropnstop.css?4.0.034" media="screen" />
    <link rel="stylesheet" href="styles/icons.css?4.0.034" media="screen" />
  </head>

  <body>
    <app id="app" v-cloak
      :class="{lock: lock, stopped: isStopped, success: isSuccess, darkpuck: useDarkPuck, dropping: isDropping, ended: showEndSet, keyboard: spaceBarInUse}">
      <theater v-cloak>
        <header :class="{hide: isFirstRun}">
          <button :class="{hide: lock}" @click="showSettings=!showSettings">settings</button>
          <score v-if="!lock">{{(showEndSet ? 'final score - ' : '') + Intl.NumberFormat(userLocale).format(score)}}
          </score>
          <score v-if="lock">set complete!</score>
          <button :class="{hide: lock}" @click="HandleQuitButtonClick">quit</button>
        </header>
        <stage :style="{scale: stageScale, fontSize: fontScale + 'em'}">
          <puck
            :class="{start: isFirstRun, disabled: showEndSet || (currentSet && currentSet.finished), show: currentStage && currentStage.showPuck}"
            :style=" {transform: 'translate(' + puckX + 'px, ' + puckY + 'px)', width: puckWidth + 'px', height: puckHeight + 'px'}">
            <tail v-if="!puckHitBottom" :style="{marginTop: -1 *  (60 - (.5 * puckHeight)) + 'px'}">
            </tail>
          </puck>
          <target
            :class="{disabled: showEndSet || (currentSet && currentSet.finished), hide: dropCount === 0 && !isDropping && currentStage && currentStage.hideTarget}"
            :style="{transform: 'translate(' + targetX + 'px, ' + targetY + 'px)', height: targetHeight + 'px'}">
            <value>
              <span v-if="!isSuccess && !lock">{{isFirstRun ? '↑ the' : ''}} dropzone
                {{!isFirstRun ? ': +' + targetValue : ''}}</span>
              </span>
              <span v-if="isSuccess" class="fadeup">
                +{{targetValue}} points!
              </span>
            </value>
          </target>
          <splat :class="{show: showSplat}">
            <words>hidden puck</words>
            <icon class="splat gigantic"></icon>
          </splat>
          <info>
            <stats v-if="results.length > 0 && showEndSet" :style="{maxWidth: (fontScale * 300) + 'px'}"
              @click="CreateConfetti(finalGrade.threshold > goodGradeThreshold)">
              <h3>{{currentSet.name}}</h3>
              <grade>complete</grade>
              <h1>{{currentCampaign.isTutorial ? '🏆' : finalGrade.emoji}}</h1>
              <h2>{{currentCampaign.isTutorial ? 'bravo!' :finalGrade.title}}
                <subtitle>{{currentCampaign.isTutorial ? 'You\'ve completed the tutorial' : finalGrade.description}}
                </subtitle>
              </h2>
              <stat>grade<span>{{finalGrade.grade}}</span></stat>
              <stat class="emphasize">points earned<span>{{Intl.NumberFormat(userLocale).format(score)}}</span></stat>
              <stat>possible points <span>{{Intl.NumberFormat(userLocale).format(highestPossibleScore)}}</span></stat>

              <!-- <h3>hits</h3> -->
              <stat>hits on 1st try<span>{{hitsOnOne}}</span></stat>
              <stat>- on 2nd try<span>{{hitsOnTwo}}</span></stat>
              <stat>- on 3rd try<span>{{hitsOnThree}}</span></stat>

              <!-- <h3>misses</h3> -->
              <stat>target misses<span>{{misses}}</span></stat>
              <stat>- above<span>{{missedAbove}}</span></stat>
              <stat>- below<span>{{missedBelow}}</span></stat>
            </stats>
          </info>
        </stage>

        <controls>
          <button key="buttonRetryStage" @click="HandleSelectSetButtonClick(event, currentSet)"
            v-if="currentSet && currentSet.finished">Retry</button>
          <button key="buttonNextStage" @click="HandleActionButton(event, 'next')" class="action" v-if="!showEndSet"
            :class="{hide:  lock || isReady || !isStopped, highlight: currentStage && currentStage.finished}">
            {{dropCount >= 2 && isStopped || isSuccess ? 'Next' : 'retry'}}
          </button>
          <button key="buttonQuit" @click="HandleOkayButtonClick" v-if="currentSet && currentSet.finished">Quit</button>
          <button key="buttonNextSet" @click="HandleNextButtonClick(event)" class="highlight"
            v-if="showEndSet && !isLastSet && currentCampaign && !currentCampaign.finished">Next</button>
          <button key="buttonDrop" v-if="!showEndSet || isLastSet || (currentCampaign && currentCampaign.finished)"
            :class="{hide: showEndSet || lock || (isFirstRun && showAnnouncement), disabled: isStopped, blink: !showAnnouncement && isFirstRun}"
            @pointerdown="HandleActionButton(event, 'drop')" @pointerup="HandleDropButtonPointerUp"
            @pointerleave="HandleDropButtonPointerUp" class="action">DROP</button>
        </controls>
      </theater>
      <overlay @click="HandleAnnouncementClick"
        v-if="!showEndSet && isPlaying && (announcement !== '' || instructions !== '')" class="meta"
        :class="{show: showOverlay}">
        <announcement v-if="announcement !== ''" v-html="announcement">
        </announcement>
        <instructions v-if="instructions !== ''" v-html="instructions">
        </instructions>
      </overlay>
      <modal :class="{show: showHome}">
        <header>
        </header>
        <h1>
          <pretitle>Big Tent Games</pretitle>
          drop 'n stop
          <subtitle>= the puck stops here =</subtitle>
        </h1>
        <ohno>
          <h3>oh no!</h3>
          <p>
            drop 'n stop needs a bigger window to play
          </p>
        </ohno>
        <icon v-if="isLoading" style="position: relative" class="spinner medium" :class="{show: isLoading}"></icon>

        <controls class="endgame" v-if="dropTotalCount == 0" :class="{disabled: isLoading}">
          <button @click="ShowCampaignsModal">Play</button>
          <button class="secondary disabled">Achievements</button>
          <leftright>
            <button class="tertiary" @click="StartCampaign(campaigns[0])">Tutorial</button>
            <button class="tertiary" @click="showSettings = !showSettings">Settings</button>
          </leftright>
          <leftright>
            <button class="tertiary" @click="Share">Share</button>
            <button class="tertiary action"
              @click="window.open('https://www.buymeacoffee.com/wilvoss')">Donate!</button>
          </leftright>
        </controls>
      </modal>
      <modal :class="{show: showSettings}">
        <header>
          <button @click="HandleBackButtonClick(event)">← back</button>
          <button v-if="isPlaying" @click="HandleQuitButtonClick">quit</button>
        </header>
        <h2>Settings</h2>
        <divider></divider>
        <section class="puck">
          <h3>puck color</h3>
          <puck :class="{start: isFirstRun}"
            :style=" {transform: 'translate(' + puckX + 'px, ' + puckY + 'px)', width: puckWidth + 'px', height: puckHeight + 'px'}">
            <tail :style="{marginTop: -1 *  (60 - (.5 * puckHeight)) + 'px'}">
            </tail>
          </puck>
          <setting>
            <puckcolor @click="HandlePuckColorButtonClick(event, false)" :class="{selected: !useDarkPuck}">light
            </puckcolor>
            <puckcolor @click="HandlePuckColorButtonClick(event, true)" :class="{selected: useDarkPuck}">dark
            </puckcolor>
          </setting>
        </section>
        <divider></divider>
        <section>
          <h3>color theme</h3>
          <setting>
            <theme :class="{selected: theme.selected}" v-for="theme in themes" @click="HandleThemeButton(event, theme)">
              <color :style="{background: 'hsl(' + theme.h + ', ' + theme.s + '%, 65%)'}"></color>
              <value>{{theme.name}}</value>
            </theme>
          </setting>
        </section>
        <divider></divider>
        <h3>advanced </h3>
        <controls v-if="!isPlaying" style="flex-direction: column;">
          <button class="tertiary" @click="location.reload()">Reload App</button>
          <button class="tertiary" @click="HandleClearDataButtonClick">Clear game data</button>
        </controls>
        <version>
          &copy;{{thisYear}} <a href="https://bigtentgames.com" target="_blank">Big Tent Games</a> - v{{version}}
        </version>
      </modal>
      <modal v-if="currentCampaign" :class="{show: showCampaigns}">
        <header>
          <button @click="HandleBackButtonClick(event)">← back</button>
        </header>
        <section>
          <h2>Campaigns</h2>
          <campaigns>
            <campaign v-for="(campaign, index) in campaigns" :key="index"
              v-if="!campaign.isTutorial && !campaign.isEndless"
              :class="{locked: campaign.locked, finished: campaign.finished}" @click="StartCampaign(campaign)">
              <h4>
                <name>
                  {{campaign.name}}
                  <icon class="lock tiny" v-if="campaign.locked"></icon>
                </name>
                <status>{{campaign.finished ? Intl.NumberFormat(userLocale).format(campaign.score) + ' pts' : ''}}
                </status>
              </h4>
              <p>{{campaign.subtitle}}</p>
            </campaign>
          </campaigns>
        </section>
        <controls></controls>
      </modal>
      <modal v-if="currentCampaign" :class="{show: showSets}">
        <header>
          <button @click="HandleBackButtonClick(event)">← back</button>
        </header>
        <section>
          <h2>{{currentCampaign.name}}</h2>
          <sets v-if="currentCampaign.sets && currentCampaign.sets.length > 0">
            <set v-for="(set, index) in currentCampaign.sets" :key="index"
              @click="HandleSelectSetButtonClick(event, set)"
              :class="{selected: currentSet && currentSet.id == set.id, locked: set.locked, finished: set.finished}">
              <h4>
                <name>
                  {{set.name}}
                  <icon class="lock tiny" v-if="set.locked"></icon>
                </name>
                <status v-if="currentCampaign.isTutorial">
                  {{set.finished ? 'Done!' : set.stages.length +' levels'}}
                </status>
                <status v-if="!currentCampaign.isTutorial">
                  {{set.finished ? Intl.NumberFormat(userLocale).format(set.score) + ' pts' : set.stages.length +' levels'}}
                </status>
              </h4>
              <p>{{set.subtitle}}</p>
            </set>
          </sets>
        </section>
        <controls></controls>
      </modal>
      <modal v-if="currentYesNo" :class="{show: showYesNo}" class="center">
        <h1>{{currentYesNo.title}}
          <subtitle v-html="currentYesNo.message"></subtitle>
        </h1>
        <controls>
          <button @click="showYesNo = false" class="secondary">no</button>
          <button @click="HandleActionButton(event, currentYesNo.action)">Yes</button>
        </controls>

      </modal>
      <confetti></confetti>
    </app>
    <script id="vue-framework" src="/helpers/vue.min.js"></script>
    <script src="/helpers/console-enhancer.js?4.0.034"></script>
    <script type="module" src="/scripts/dropnstop.js?4.0.034"></script>
  </body>

</html>