:root {
    --mainLuminosity: 17%;
    --oppositeLuminosity: 42%;
    --stripeLuminosity: 11%;
    --highlightSaturation: calc(var(--saturation) + 10%);
    --highlightColor: hsla(var(--highlightHue), var(--highlightSaturation), 46%, 1);
    --highlightAltColor: hsla(var(--highlightHue), var(--highlightSaturation), 56%, 1);
}

welcome {
    border-color: hsla(var(--highlightHue), var(--highlightSaturation), 76%, 1);
    background-color: var(--highlightColor);
    color: white
}

overlay instructions,
overlay announcement {
    color: var(--highlightAltColor);
}

input {
    background: hsla(var(--hue), var(--saturation), 10%, 1);
}

theater controls button.highlight {
    border-color: hsl(var(--hue), var(--saturation), 0%);
    background-color: hsl(var(--hue), var(--saturation), 0%);
    color: white;
}

.success target {
    border-color: hsla(var(--highlightHue), var(--highlightSaturation), 76%, 1);
}

target value,
theater puck.start::after {
    color: white;
}

.ended target {
    opacity: 0.1;
}

button,
button.secondary,
button.tertiary,
button.highlight,
overlay button.secondary,
overlay button.tertiary,
score {
    color: white;
}