@font-face {
  font-family: 'Bauhaus';
  src: url('../fonts/BAUHS93.TTF');
}
@font-face {
  font-family: 'AlphaSlab';
  src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

:root {
  --appBackground: hsl(148, 34%, 65%);
  --appForeground: hsl(148, 41%, 17%);
  --targetX: 50%;
}
html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--appForeground);
  font-family: 'Courier New', Courier, monospace;
  background: repeating-linear-gradient(90deg, hsl(149, 28%, 41%) 0px, hsl(149, 28%, 41%) 40px, hsl(149, 28%, 38%) 40px, hsl(149, 28%, 38%) 80px);
  user-select: none;
  -webkit-user-select: none;
}

[v-cloak] {
  transition: 250ms ease-out opacity;
  opacity: 0;
}

stage {
  display: block;
  max-width: 500px;
  height: 100%;
  background: hsl(148, 34%, 65%);
  margin: 0px auto;
}

quit {
  display: block;
  float: right;
  width: 50px;
  text-align: right;
  height: 40px;
  font-size: 1.6em;
  padding: 0px 12px 24px 12px;
  cursor: pointer;
}

logo {
  display: inline-block;
  position: absolute;
  mask-image: url(../images/big_tent_logo.svg);
  -webkit-mask-image: url(../images/big_tent_logo.svg);
  background: hsl(148, 34%, 70%);
  margin-top: 200px;
  width: 100%;
  max-width: 500px;
  height: 300px;
  mask-size: 290px;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: 200px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

score {
  pointer-events: none;
  display: block;
  position: absolute;
  padding: 20px;
  font-family: 'AlphaSlab';
  width: calc(100% - 40px);
  text-align: center;
  max-width: 460px;
  font-size: 3.5em;
}

knife {
  position: fixed;
  display: block;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
  /* transition: 2ms linear all; */
  border-bottom: 1px black solid;
  /* border-radius: 0px 0px 50% 50%; */
}

.stopped knife {
  transition: 0ms linear all;
}

target {
  position: fixed;
  display: block;
  background: repeating-radial-gradient(circle, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.5) 25px);
  background-position: var(--targetX);
  transition: 150ms ease-out all;
  color: white;
  text-align: center;
  width: calc(100%);
  max-width: 500px;
  border: 1px solid;
  border-width: 1px 0px;
}

.success target {
  background: hsla(204, 100%, 76%, 0.5);
}

target span {
  display: block;
  margin: 100px 20px;
  margin-top: -20px;
  position: absolute;
  width: calc(100% - 40px);
  max-width: 460px;
  text-align: center;
}

p {
  display: block;
  position: fixed;
  text-align: center;
  margin: 100px 20px;
  width: calc(100% - 40px);
  max-width: 460px;
}

controls {
  position: absolute;
  display: block;
  margin: 100px 20px;
  width: calc(100% - 40px);
  max-width: 460px;
  bottom: 20px;
}

controls.endgame {
  bottom: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

controls button {
  z-index: 1000;
  width: calc(50% - 30px);
  max-width: 460px;
  margin: 0px 20px;
  position: absolute;
  height: 80px;
  right: 0px;
  font-size: 1.5em;
  font-weight: 400;
  background-color: rgb(0, 81, 173);
  color: white;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  border-radius: 8px;
  font-family: 'Bauhaus';
}

controls button.secondary {
  background: white;
  color: rgb(0, 81, 173);
}

controls button:active {
  transform: translateY(2px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

controls button#resetButton {
  /* bottom: 100px; */
  left: 0px;
  right: auto;
}

.disabled,
:disabled {
  pointer-events: none;
  opacity: 0.3;
}
