@font-face {
  src: url('../fonts/Tektur.ttf');
  font-family: 'Tektur';
}

:root {
  --hue: 148;
  --saturation: 34%;
  --highlightHue: calc(var(--hue) + 180);
  --highlightSaturation: calc(var(--saturation) + 30%);
  --mainLuminosity: 61%;
  --oppositeLuminosity: 17%;
  --puckLuminosity: 100%;
  --appBackground: hsl(var(--hue), var(--saturation), var(--mainLuminosity));
  --appBackgroundSemiTransparent: hsla(var(--hue), var(--saturation), var(--mainLuminosity), 0.4);
  --appForeground: hsl(var(--hue), var(--saturation), var(--oppositeLuminosity));
  --appForegroundHighlight: hsl(var(--hue), 60%, 80%);
  --appForegroundDisabled: hsla(var(--hue), var(--saturation), var(--oppositeLuminosity), 0.5);
  --highlightColor: hsla(var(--highlightHue), var(--highlightSaturation), 76%, 1);
  --targetX: 50%;
  --funfont: 'Tektur';
  --defaultGap: 20px;
  --bigGap: calc(2 * var(--defaultGap));
  --hugeGap: calc(4 * var(--defaultGap));
  --stageWidth: 500px;
  --stageHeight: 500px;
  --maxWidth: 500px;
  --minWidth: 340px;
  --maxHeight: 956px;
  --dividerColor: hsl(var(--hue), var(--saturation), 100%, 0.3);
  --whiteTextShadow: 0px -1px 0px hsl(var(--hue), var(--saturation), 35%);
  --shadow: 2px 2px 0px hsla(var(--hue), var(--saturation), var(--oppositeLuminosity), 0.1);
  --shadowAlt: 2px 2px 0px hsla(var(--hue), var(--saturation), var(--oppositeLuminosity), 0.025);
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: repeating-linear-gradient(90deg, hsl(var(--hue), var(--saturation), var(--oppositeLuminosity)) 0px, hsl(var(--hue), var(--saturation), var(--oppositeLuminosity)) var(--bigGap), hsl(var(--hue), var(--saturation), calc(var(--oppositeLuminosity) - 1%)) var(--bigGap), hsl(var(--hue), var(--saturation), calc(var(--oppositeLuminosity) - 1%)) var(--hugeGap));
  color: var(--appForeground);
  font-family: 'Courier New', Courier, monospace;
  text-transform: lowercase;
  user-select: none;
  -webkit-user-select: none;
  text-shadow: var(--shadow);
}

[v-cloak] {
  opacity: 0;
  transition: 250ms ease-out opacity;
}

app {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-width: var(--minWidth);
  max-width: var(--maxWidth);
  height: 100%;
  max-height: var(--maxHeight);
  overflow: hidden;
  border-top: 1px solid var(--appForeground);
}

a {
  color: var(--appForeground);
}

h1,
h2,
h3,
h4 {
  margin-top: var(--defaultGap);
  margin-bottom: var(--defaultGap);
  padding-top: 0px;
  line-height: 100%;
  font-family: var(--funfont);
  text-align: center;
  text-shadow: var(--shadowAlt);
  text-transform: lowercase;
}

h1 {
  margin: 0;
  font-size: 2.75em;
}

subtitle {
  display: block;
  font-weight: normal;
  text-shadow: var(--shadow);
}

pretitle {
  display: block;
  font-weight: normal;
  font-size: 0.3em;
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
}

h1 subtitle {
  font-size: 0.4em;
  text-shadow: var(--shadow);
}

h2 subtitle {
  font-size: 0.6em;
  text-shadow: var(--shadow);
}

h3 subtitle {
  font-size: 0.8em;
  text-shadow: var(--shadow);
}

h1 pretitle {
  font-size: 0.3em;
  text-shadow: var(--shadow);
}

h2 pretitle {
  font-size: 0.4em;
  text-shadow: var(--shadow);
}

h3 pretitle {
  font-size: 0.8em;
  text-shadow: var(--shadow);
}

h2 {
  margin: 0;
  padding-bottom: var(--defaultGap);
  font-size: 1.5em;
}

h3 {
  margin-top: 0;
  font-weight: normal;
  text-align: center;
  text-shadow: var(--shadow);
  cursor: pointer;
}

button {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

theater,
modal,
overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: var(--minWidth);
  max-width: var(--maxWidth);
  height: calc(100%);
  max-height: var(--maxHeight);
  margin: 0px auto;
  gap: 0px;
  background: var(--appBackground);
}

theater {
  justify-content: start;
  gap: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

theater header button.hide {
  opacity: 0;
  pointer-events: none;
}

.lock theater {
  background: var(--appBackground);
}

.ended theater info,
.success theater info {
  transform: translateY(-40px);
}

theater header score {
  display: block;
  position: relative;
  margin-top: 0px;
  font-weight: bold;
  font-size: 1.38em;
  text-shadow: var(--shadowAlt);
}

theater controls {
  position: absolute;
  bottom: unset;
  align-items: flex-end;
  height: calc(100% - var(--bigGap));
  max-height: calc(var(--maxHeight) - var(--defaultGap) - 0.5 * env(safe-area-inset-bottom));
  margin: 0;
  pointer-events: none;
  transition: 100ms ease-in-out opacity;
}

.keyboard.dropping theater controls {
  opacity: 1;
}

.dropping theater controls {
  opacity: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header button {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 124px;
  min-width: 124px;
  max-width: 124px;
  height: 100%;
  padding: 12px 18px 14px 18px;
  border: none;
  outline: none;
  background: none;
  color: var(--appForeground);
  font-size: 1.35em;
  font-family: var(--funfont);
  text-shadow: var(--shadow);
  cursor: pointer;
}

header score {
  font-size: 1em;
}

header button:nth-child(2),
header button:nth-child(3) {
  justify-content: end;
}

header.hide {
  opacity: 0;
  pointer-events: none;
}

stage {
  display: block;
  width: var(--stageWidth);
  height: var(--stageHeight);
  min-height: var(--stageHeight);
  /* border-bottom: 1px solid var(--appForeground); */
  /* border-width: 1px 0px; */
  max-height: var(--stageHeight);
  margin-bottom: env(safe-area-inset-bottom);
  transform-origin: top;
  border: 0px solid var(--appForeground);
  background: var(--appBackground);
}

.lock stage {
  background: var(--appBackground);
}

version {
  display: block;
  margin-bottom: var(--defaultGap);
  font-size: 0.7em;
  opacity: 0.8;
}

version a {
  font-weight: bold;
  text-decoration: none;
}

logo {
  width: 100%;
  height: 100px;
  mask-image: url(../*images/big_tent_logo.svg);
  -webkit-mask-image: url(../images/big_tent_logo.svg);
  max-width: 500px;
  background: var(--appForeground);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 290px;
  -webkit-mask-size: 120px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

score {
  display: block;
  width: 100%;
  font-size: 1.35em;
  line-height: 100%;
  font-family: var(--funfont);
  text-align: center;
  pointer-events: none;
}

stats {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  user-select: text;
  -webkit-user-select: text;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
}

stats grade {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--bigGap);
  gap: var(--defaultGap);
  color: hsl(var(--hue), var(--saturation), 100%);
  font-weight: bold;
  font-size: 3em;
  font-family: var(--funfont);
  text-align: center;
}

stats h1 {
  margin: var(--defaultGap) 0;
}

stats h3 {
  margin: var(--defaultGap) 0 4px 0;
}

stat {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  text-transform: lowercase;
}

stats stat.emphasize {
  margin-bottom: 9px;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--appForeground);
}

stats stat.emphasize span {
  font-weight: bold;
  font-family: var(--funfont);
  text-shadow: var(--shadowAlt);
  text-transform: uppercase;
}

stat span {
  float: right;
}

puck {
  display: flex;
  z-index: 1;
  position: fixed;
  align-items: center;
  justify-content: start;
  height: 10px;
  border: 1px hsl(var(--hue), var(--saturation), calc(100% - var(--puckLuminosity))) solid;
  border-radius: 33%;
  background-color: hsl(var(--hue), var(--saturation), var(--puckLuminosity));
  opacity: 0;
}

puck.show {
  opacity: 1;
}

puck.start::after {
  display: block;
  position: absolute;
  transform: translateX(30px);
  content: '← the puck';
  font-weight: 800;
  font-family: var(--funfont);
  text-shadow: var(--shadowAlt);
  white-space: nowrap;
}

.ended puck {
  border-color: hsla(var(--hue), var(--saturation), var(--oppositeLuminosity), 0.6);
}

puck tail {
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  margin-top: -52px;
  transform: scaleY(0);
  transform-origin: center bottom;
  background: linear-gradient(hsla(0, 0%, var(--puckLuminosity), 0), hsla(0, 0%, var(--puckLuminosity), 0.5));
  transition: 50ms ease-in-out all;
}

modal puck,
.dropping puck,
.stopped puck {
  opacity: 1;
}

.dropping puck tail {
  transform: scaleY(1);
}

.stopped puck {
  transition: 0ms linear all;
}

.stopped puck.disabled,
puck.disabled {
  opacity: 0.3;
}

.stopped puck tail {
  transform: scaleY(0);
}

modal,
overlay {
  display: flex;
  z-index: 1000;
  position: absolute;
  row-gap: 0px;
  flex-direction: column;
  align-content: start;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  overflow-y: auto;
  gap: var(--defaultGap);
  transform: translateY(100%);
  background: var(--appBackground);
  box-shadow: none;
  opacity: 0;
  pointer-events: none;
}

modal.center {
  justify-content: center;
}

modal.show {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}

modal ohno {
  display: none;
}

overlay {
  align-items: center;
  justify-content: center;
  transform: none;
  background: none;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: calc(100% - var(--hugeGap));
  padding: 28px var(--bigGap) var(--bigGap);
}

leftright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(100%);
  margin: 0px;
  padding: 0px;
  gap: calc(0.5 * var(--defaultGap));
}

leftright:first-of-type {
  margin-top: var(--bigGap);
}

campaigns,
sets {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

campaign,
set {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
  justify-content: start;
  width: calc(100% - var(--bigGap));
  padding: 14px var(--defaultGap) 10px;
  gap: 2px;
  border: 1px solid var(--appForeground);
  box-shadow: var(--shadow), inset var(--shadow);
  text-shadow: var(--shadow);
  cursor: pointer;
}

campaign.locked,
set.locked {
  border-style: dashed;
  opacity: 0.8;
  pointer-events: none;
}

campaign h4,
campaign p,
set h4,
set p {
  margin: 0;
}

campaign h4,
set h4 {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  gap: 4px;
  line-height: 1.1em;
}

campaign h4 name,
set h4 name {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  gap: 2px;
  font-weight: 800;
}

campaign h4 status,
set h4 status {
  display: flex;
  font-weight: 100;
  white-space: nowrap;
}

campaign.finished h4 name,
set.finished h4 name,
campaign.locked h4 name,
set.locked h4 name {
  font-weight: 100;
}

campaign.finished h4 status,
set.finished h4 status {
  font-weight: 800;
}

campaign p,
set p {
  font-weight: 100;
  font-size: 0.9em;
}

divider {
  display: none;
  width: 100%;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  background-color: white;
  opacity: 0.3;
}

setting {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
}

section.puck setting {
  column-gap: 12px;
  justify-content: center;
}

difficulty {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid var(--appForeground);
  box-shadow: inset var(--shadow), var(--shadow);
  cursor: pointer;
}

difficulty puck {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 20px;
  margin: 12px 0 12px 0;
  cursor: pointer;
  opacity: 1;
}

difficulty value {
  display: block;
  width: 100%;
  padding: 4px 0px;
  border-top: 1px solid var(--appForeground);
  color: var(--appForeground);
  font-family: var(--funfont);
  text-align: center;
  text-transform: lowercase;
}

difficulty.selected value {
  background-color: var(--appForeground);
  color: white;
}

puckcolor {
  display: block;
  width: 80px;
  padding: 10px;
  border: 1px solid var(--appForeground);
  box-shadow: inset var(--shadow), var(--shadow);
  font-family: var(--funfont);
  text-align: center;
  cursor: pointer;
}

puckcolor.selected {
  background-color: var(--appForeground);
  color: white;
}

theme {
  display: flex;
  row-gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8%;
  padding: 6px;
  border: 1px solid var(--appForeground);
  box-shadow: inset var(--shadow), var(--shadow);
  font-family: var(--funfont);
  cursor: pointer;
}

theme.selected {
  background: var(--appForeground);
  color: white;
}

theme color {
  display: flex;
  justify-content: center;
  width: calc(100% - 2px);
  height: 40px;
  border: 1px solid var(--appForeground);
  box-shadow: var(--shadow);
}

theme.selected color {
  box-shadow: inset var(--shadow);
}

theme value {
  display: none;
}

target {
  display: flex;
  position: fixed;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  width: var(--stageWidth);
  max-width: 500px;
  border: 1px solid var(--appForeground);
  border-width: 1px 0px;
  background-image: repeating-radial-gradient(circle, hsla(var(--hue), var(--saturation), var(--oppositeLuminosity), 0), hsla(var(--hue), var(--saturation), var(--oppositeLuminosity), 0.2) 25px);
  background-position: var(--targetX);
  color: var(--appForeground);
  text-align: center;
  transition: 150ms ease-out all;
}

target.hide {
  opacity: 0;
}

.success target {
  background: var(--highlightColor);
}

.ended target {
  border-color: hsla(var(--hue), var(--saturation), var(--oppositeLuminosity), 0.4);
  opacity: 0.3;
}

.ended score {
  display: none;
}

target value {
  display: block;
  height: 100%;
  transform: translateY(calc(100% + 4px));
  font-weight: bold;
  font-family: var(--funfont);
  text-shadow: var(--shadowAlt);
  transition: 0ms ease-out;
  transition-property: transform, opacity;
}

.ended.success target value,
.success target value {
  transform: translateY(-150px) scale(1.4);
  opacity: 0;
  transition: 1000ms ease-in-out;
  transition-property: transform, opacity;
}

splat {
  display: flex;
  z-index: 2000;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--maxWidth);
  height: 224px;
  max-height: var(--maxHeight);
  transform: translate(0px, calc((0.5 * var(--maxHeight)) - 224px));
  transform-origin: bottom center;
  rotate: -5deg;
  scale: 0.5;
  opacity: 0;
  pointer-events: none;
}

splat words {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100px;
  font-weight: bold;
  line-height: 1em;
  font-family: var(--funfont);
  text-align: center;
  text-shadow: var(--shadowAlt);
}

splat.show {
  animation: splatmove 2000ms ease-in-out forwards;
  opacity: 1;
  -webkit-animation: splatmove 2000ms ease-in-out forwards;
}

@keyframes splatmove {
  0% {
    transform: translate(0px, calc((0.5 * var(--maxHeight)) - 224px));
    rotate: -5deg;
    scale: 0.5;
    opacity: 0;
  }

  25%,
  50% {
    transform: translate(0px, calc((0.5 * var(--maxHeight)) - 224px));
    rotate: -5deg;
    scale: 1;
    opacity: 1;
  }

  100% {
    transform: translate(0px, calc((0.5 * var(--maxHeight)) - 624px + 100px));
    rotate: -10deg;
    opacity: 0;
  }
}

info {
  display: flex;
  z-index: 2;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: var(--maxWidth);
  height: var(--stageHeight);
  min-height: var(--stageHeight);
  max-height: var(--stageHeight);
  margin-bottom: env(safe-area-inset-bottom);
  color: hsl(var(--hue), var(--saturation), var(--oppositeLuminosity));
  pointer-events: none;
}

.ended info {
  justify-content: center;
}

info p {
  display: block;
  margin: 10px 0;
  line-height: 150%;
  text-align: center;
}

info.emphasize p {
  font-weight: bold;
  font-family: var(--funfont);
}

controls {
  display: flex;
  column-gap: var(--defaultGap);
  row-gap: 10px;
  justify-content: flex-end;
  width: calc(100% - 2 * var(--bigGap));
  max-width: calc(var(--maxWidth) - 0px);
  margin: var(--defaultGap) 0px;
  padding-bottom: calc(var(--defaultGap) + calc(0.5 * env(safe-area-inset-bottom)));
}

controls.endgame {
  flex-direction: column;
}

theater controls {
  justify-content: space-between;
  width: 100%;
  gap: 0;
}

controls button,
announcement button {
  right: 0px;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 12px 10px;
  transform: translateY(2px);
  border: 1px solid var(--appForeground);
  background-color: var(--appForeground);
  box-shadow: var(--shadow);
  color: white;
  font-weight: 800;
  font-size: 1.5em;
  font-family: var(--funfont);
  text-shadow: var(--shadow);
  text-transform: lowercase;
  cursor: pointer;
}

controls button span {
  display: block;
  color: var(--appBackground);
  font-weight: normal;
  font-size: 0.6em;
}

announcement button.secondary,
controls button.secondary,
controls button.tertiary {
  padding: 10px;
  background: var(--appBackground);
  box-shadow: inset var(--shadow), var(--shadow);
  color: var(--appForeground);
  font-weight: normal;
}

announcement button.secondary {
  width: auto;
  margin-top: 10px;
  padding: 4px 14px;
  font-size: 1em;
}

controls button.tertiary {
  font-size: 1.3em;
}

controls button:active,
controls button:focus {
  transform: translateY(4px);
}

theater controls button {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
  margin: 0 var(--defaultGap);
  border-radius: 50%;
  box-shadow: var(--shadow);
  font-weight: normal;
  font-size: 1.25em;
  opacity: 1;
  pointer-events: all;
}

theater controls button.hide {
  opacity: 0;
  pointer-events: none;
}

theater controls button.highlight {
  border-color: hsl(var(--hue), var(--saturation), 100%);
  background-color: hsl(var(--hue), var(--saturation), 100%);
  color: var(--appForeground);
}

overlay {
  justify-content: end;
  pointer-events: none;
}

overlay instructions,
overlay announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: calc(var(--maxWidth) - (2 * var(--bigGap)) - (1.5 * var(--defaultGap)));
  margin-bottom: calc(1.75 * var(--hugeGap));
  padding: var(--defaultGap) calc(1.5 * var(--defaultGap));
  gap: 4px;
  border-radius: 10px;
  background: var(--appForeground) linear-gradient(rgba(0, 0, 0, 0.5));
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  color: var(--highlightColor);
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
  text-shadow: none;
}

overlay announcement {
  margin-bottom: calc(2 * var(--hugeGap));
  pointer-events: all;
}

overlay instructions span,
overlay announcement span {
  color: hsl(var(--hue), 80%, 100%);
  font-weight: 100;
}

overlay.meta {
  pointer-events: all;
}

.blink {
  animation: 500ms ease-in-out 0s 0.5 blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.disabled,
:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.browseronly {
  display: none;
}

confetti {
  display: block;
  position: absolute;
  width: var(--maxWidth);
  height: var(--maxHeight);
  pointer-events: none;
}

confetto,
canvas {
  display: block;
  z-index: 3000;
  position: fixed;
  top: -20px;
  width: 10px;
  height: 10px;
  transform: translate(0px -10px) rotate(0deg);
  background: var(--appForeground);
  opacity: 1;
  pointer-events: none;
  transition-property: transform, opacity;
  transition-timing-function: ease-in;
}

@media only screen and (max-width: 500px) {
  :root {
    --maxWidth: 100%;
  }

  body {
    background: var(--appBackground);
  }

  info {
    max-width: var(--stageWidth);
  }

  modal {
    margin: auto;
  }

  app {
    border: none;
  }

  theater instructions {
    min-width: calc(100% - (2 * var(--bigGap)) - (1.5 * var(--defaultGap)));
    max-width: calc(100% - (2 * var(--bigGap)) - (1.5 * var(--defaultGap)));
  }
}

@media only screen and (max-width: 339px) {
  modal {
    justify-content: center;
    gap: var(--bigGap);
  }

  modal header,
  modal controls {
    display: none;
  }

  modal ohno {
    display: block;
    margin: 0px var(--bigGap);
    text-align: center;
  }

  modal ohno h3 {
    color: white;
    font-weight: bold;
    text-shadow: var(--whiteTextShadow);
  }
}

@media only screen and (max-height: 682px) {
  section h3 {
    display: none;
  }

  theater header button,
  modal header button {
    padding: 12px 14px 14px 14px;
    font-size: 1.1em;
  }

  theater controls p {
    font-size: 0.85em;
  }

  theater {
    gap: 0px;
  }

  info {
    max-width: var(--stageWidth);
  }

  info stats {
    padding-top: 0px;
  }
}

@media (display-difficulty: standalone) {
  .browseronly {
    display: block;
  }
}