:root {
  --icon-size: 24px;
}

icon {
  display: block;
  mask-size: calc(0.75 * var(--icon-size)) calc(0.75 * var(--icon-size));
  background-color: var(--appForeground);
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: calc(0.75 * var(--icon-size)) calc(0.75 * var(--icon-size));
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  pointer-events: none;
}

icon.tiny {
  --icon-size: 18px;
}

icon.medium {
  --icon-size: 32px;
}

icon.large {
  --icon-size: 48px;
}

icon.gigantic {
  --icon-size: 224px;
}

icon.lock {
  mask-image: url(../images/icon-lock.svg);
  -webkit-mask-image: url(../images/icon-lock.svg);
}

icon.splat {
  mask-image: url(../images/graphic-splat.svg);
  -webkit-mask-image: url(../images/graphic-splat.svg);
}

icon.settings {
  mask-image: url(../images/icon-settings.svg);
  -webkit-mask-image: url(../images/icon-settings.svg);
}

icon.quit {
  mask-image: url(../images/icon-logout.svg);
  -webkit-mask-image: url(../images/icon-logout.svg);
}

icon.cancel {
  mask-image: url(../images/icon-cancel.svg);
  -webkit-mask-image: url(../images/icon-cancel.svg);
}

icon.chevron-left {
  mask-image: url(../images/icon-chevron-left.svg);
  -webkit-mask-image: url(../images/icon-chevron-left.svg);
}

icon.spinner {
  opacity: 0;
  mask-image: url(../images/icon-spinner.svg);
  mask-size: calc(0.75 * var(--icon-size)) calc(0.75 * var(--icon-size));
  animation: spin 1s steps(10, start) infinite;
  transition-delay: 0ms;
  -webkit-mask-image: url(../images/icon-spinner.svg);
  -webkit-mask-size: calc(0.75 * var(--icon-size)) calc(0.75 * var(--icon-size));
  -webkit-animation: spin 1s steps(10, start) infinite;
  transition: 250 linear opacity;
}

icon.spinner.show {
  opacity: 1;
  transition-delay: 0ms;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}